<div class="container">
    <h4 class="container_title">Bienvenidos a la aplicación de posts de Atos!!!</h4>
    <p class="container_description">A continuación seleccione uan de las siguientes opciones</p>
    <div class="home">
        <div routerLink="/posts" class="ripple-container mat-elevation-z4" matRipple [matRippleCentered]="true">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>article</mat-icon>
            </button>
            <span>Posts</span>
            <p>Ingresa para ver todos los post, editar, crear nuevos y ver el detalle!!!</p>
        </div>
    </div>
</div>
